{% extends 'base.html.twig' %}

{% block body %}
<div class="container col-md-6 mt-3" style="font-family:Comic Sans MS">
    <h3 class="text-success text-center text-capitalize">CLASS LIST</h3>
  
    <a class="btn btn-outline-success mt-2"  href="{{ path('classM_add') }}">ADD NEW CLASS</a>
    
        <table class="table table-striped text-center mt-2" style="font-family:Comic Sans MS">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Menu</th>
            </tr>
        </thead>
        <tbody>
        {% for class in classes %}
            <tr>
                <td>{{ class.id }}</td>
                <td>{{ class.name }}</td>
                <td>
                    <a class="btn btn-outline-dark" href="{{ path('classM_detail', {'id': class.id}) }}">DETAIL</a>
                   
                    <a class="btn btn-outline-dark" href="{{ path('classM_edit', {'id': class.id}) }}">EDIT</a>
                    
                    <a class="btn btn-outline-dark" href="{{ path('classM_delete', {'id': class.id}) }}"
                    onclick="return confirm('Are you sure ????')"
                    >DELETE</a>
                   
                </td>
            </tr>
        {% endfor %} 
        </tbody>
    </table>
</div>
{% endblock %}
