{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid mt-3">
    <h2 class="text-success text-center text-capitalize">EDIT LECTURER</h2>
    <div class="col-md-5"></div>
        {{form_start(form)}}
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name,
                {
                    'attr': {'class': 'form-control'}
                })
            }}  
        </div>
        <div class="form-group">
            {{ form_label(form.birthday) }}
            {{ form_widget(form.birthday,
                {
                    'attr': {'class': 'form-control'}
                })
            }}
        </div>
        <div class="form-group">
            {{ form_label(form.nationality) }}
            {{ form_widget(form.nationality,
                {
                    'attr': {'class': 'form-control'}
                })
            }}
        </div>
       <div class="form-group">
            {{ form_label(form.ClassList) }}
            {{ form_widget(form.ClassList,
                {
                    'attr': {'class': 'form-control'}
                })
            }}
        </div>
        <div class="form-group">
            {{ form_label(form.SubjectList) }}
            {{ form_widget(form.SubjectList,
                {
                    'attr': {'class': 'form-control'}
                })
            }}
        </div>
        <div class="form-group text-center mt-3">
            <button class="btn btn-primary" type="submit">EDIT LECTURER</button>
        </div>
        {{form_end(form)}}    
</div>
{% endblock %}