{% extends 'base.html.twig' %}

{% block body %}
<div class="container col-md-6 mt-3">
    <h3 class="text-success text-center text-capitalize">LECTURER LIST</h3>
    <a class="btn btn-outline-success mt-2" href="{{ path('lecturer_add') }}">ADD LECTURER</a>
        <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Menu</th>
            </tr>
        </thead>
        <tbody>
        {% for lecturer in lecturers %}
            <tr>
                <td>{{ lecturer.id }}</td>
                <td>{{ lecturer.name }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('lecturer_detail', {'id': lecturer.id}) }}">DETAIL</a>
                    <a class="btn btn-info" href="{{ path('lecturer_edit', {'id': lecturer.id}) }}">EDIT</a>
                    <a class="btn btn-warning" href="{{ path('lecturer_delete', {'id': lecturer.id}) }}"
                    onclick="return confirm('Are you sure ????')"
                    >DELETE</a>
                </td>
            </tr>
        {% endfor %} 
        </tbody>
    </table>
</div>
{% endblock %}
